body, html {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Arial', sans-serif; 
    color: #333;
    line-height: 1.6; 
}

.mobile-profile-pic {
    display: none;
    width: 75%;
    margin: 0 auto 20px auto;
}

h1 {
    font-size: 64px !important;
    margin: 10px !important;
    font-family: "Montserrat", sans-serif !important;
}
h2 {
    color: #757575 !important;
    font-size: 30px !important;
    margin: 10px !important;
    font-family: "Montserrat", sans-serif !important;
}

.lineandHeader {
    position: relative;
    left: 2.5%;
    width: 95%;
}

.start {
    padding: 128px 16px;
    text-align:center;
}

.container {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #f1f1f1; 
    overflow: hidden;
}

.content {
    margin-left: 40%; 
    width: 60%;
    height: 100%;
    overflow-y: auto; 
    background-color: #ffffff; 
}

    .content header, .content footer {
        padding: 20px;
    }

.sidebar img {
    width: 100%;
    height: 100%;
    display: inherit;
}

.menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f1f1f1;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.contact-icons, .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.portfolio-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.portfolio-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; 
}

    .portfolio-column img {
        width: 90%;
        margin-bottom: 12px;
    }

.large-img {
    width: 100%;
}

.portfolio-column img:last-child {
    margin-bottom: 0;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .comment img {
        border-radius: 50%;
        width: 75px;
        height: 80px;
        object-fit: cover;
        margin-bottom: 15px;
    }

.columnp {
    display: flex;
    flex-direction: column; 
}

.grey-line {
    border: 0; 
    height: 2px; 
    background-color: grey;
    margin-bottom: 20px; 
}

.container2 {
    width: 95%;
    height: 25px;
    border: 1px solid black;
    position: relative;
    background: linear-gradient(90deg, #808080 95%, #ffffff 95%);
    padding: 4px 8px !important;
}

.container3 {
    width: 95%; 
    height: 25px; 
    border: 1px solid black; 
    position: relative;
    background: linear-gradient(90deg, #808080 75%, #ffffff 75%);
    background: linear-gradient(90deg, #808080 75%, #ffffff 75%);
    padding: 4px 8px !important;
}

.percent-text {
    color:#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    .lineandHeader {
        left: 5%;
        width: 90%;
    }

    .portfolio-column img {
        width: 100%;
    }

    .comment img {
        width: 50px;
        height: 55px;
    }

    .mobile-profile-pic {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 24px !important;
    }

    .lineandHeader {
        left: 5%;
        width: 90%;
    }

    .portfolio-column img {
        width: 100%;
    }

    .comment img {
        width: 50px;
        height: 55px;
    }

    .mobile-profile-pic {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}